@charset "utf8";

/*
	Website: Portfolio: Erich Gennette
	Author: Erich Gennette
	Date: November 26, 2018
	Filename: edustyles.css
*/

/* Content Styles */

.contentRow1, .contentRow2 {
	min-height: 40vh;
}

.imgDiv img {
	max-width: 60%;
}

#contactRow {
	min-height: 0vh;
	overflow: overlay;
}