@charset "utf8";

/*
	Website: Portfolio: Erich Gennette
	Author: Erich Gennette
	Date: November 26, 2018
	Filename: workstyles.css
*/

.contentRow1, .contentRow2 {
	height: 40vh;
}

.imgDiv {
	height: 40vh;
	width: auto;
	position: relative;
}

.imgDiv img {
	max-height: 100%;
	max-width: 60%;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}