@charset "utf8";

/*
	Website: Portfolio: Erich Gennette
	Author: Erich Gennette
	Date: November 26, 2018
	Filename: rules.css
*/

html {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Montserrat', sans-serif;
}

/* Bootstrap Changes */

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	padding: 0px;
	margin: 0px;
}

/* Body Styles */

body {
	overflow-x: hidden;
}

/* Nav Styles */

body > .block1 {
	position: absolute;
	top: 0;
	height: 100vh;
	min-width: 100%;
}

.navBlock {
	padding-top: 75px;
}

.nav {
	padding-top: 20px;
}

.link a, .link a:hover {
	text-decoration: none;
	color: black;
}

.link, .navSeparator {
	display: inline-block;
	padding-right: 5px;
}

/* Content Styles */

.contentRow1 {
	background-image: url("../images/dust_scratches.png");
}

.contentRow2 {
	background-color: lightgrey;
}

.container, .row {
	min-width:100vw !important;
	padding: 0px !important;
	margin: 0px !important;
}

.topParallax {
	background-image: url("../images/background.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	min-height: 100vh;
}

.contactParallax {
	background-image: url("../images/background.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	min-height: 50vh;
}

#chevron {
	width: 100vw;
	position:absolute;
	bottom:0;
}

#chevron img {
	background-color: rgba(0, 0, 0, 0);
	border: none !important;
	margin-left:48%;
	margin-bottom:0px;
	width: 4%;
	height: auto;
}

.descr {
	padding: 25px 25px 25px 0px;
}

.bar {
	height: 3px;
	background-color: black;
}

.contactBanner {
	background-image: url("../images/tweed.png");
}

.titleHeader {
	width: auto;
	margin: auto;
}

.imgDiv {
	display: block;
	height: 100%;
	margin: auto;
}

.imgDiv img {
	display: block;
	max-width: 95%;
	height: auto;
	margin: auto;
}

#contactRow {
	height: auto;
}

#contactInfo {
	padding-top: 25px;
	padding-bottom: 25px;
}

.contactBanner h1 {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

.imgDiv {
	height: 40vh;
	width: auto;
	position: relative;
}

.imgDiv img {
	max-height: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.titleHeader {
	padding-bottom: 25px;
}