@charset "utf8";

/*
	Website: Portfolio: Erich Gennette
	Author: Erich Gennette
	Date: November 26, 2018
	Filename: styles.css
*/


html {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Montserrat', sans-serif;
}

body {
	overflow-x: hidden;
}

body > .block1 {
	position: absolute;
	top: 0;
	height: 100vh;
	min-width: 100%;
}

img {
	width: 95%;
	margin-bottom: 25px;
	margin-top: 25px;
}

.secondNav {
	width: 100%;
	height: 60px;
	border-top: 1px solid #000;
	position: fixed;
	bottom: 0px;
	z-index: 100;
	opacity: 0;
}

.topParallax {
	background-image: url("../images/background.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	min-height: 100vh;
}

#chevron {
	width: 100vw;
	position:absolute;
	bottom:0;
}

#chevron img {
	background-color: rgba(0, 0, 0, 0);
	border: none !important;
	margin-left:48%;
	margin-bottom:0px;
	width: 4%;
	height: auto;
}

.navBlock {
	padding-top: 75px;
}

.nav {
	padding-top: 20px;
}

.link a, .link a:hover {
	text-decoration: none;
	color: black;
}

.link, .navSeparator {
	display: inline-block;
	padding-right: 5px;
}

.container, .row {
	min-width:100vw !important;
	padding: 0px !important;
	margin: 0px !important;
}

.descr {
	padding: 25px;
}

.bar {
	height: 3px;
	background-color: black;
}

.seeMore {
	text-align: center;
}

#contactRow .titleHeader {
	text-align: center;
}

.contentRow1 {
	background-image: url("../images/dust_scratches.png");
}

.contentRow2 {
	background-color: lightgrey;
}