@charset "utf8";

/*
	Website: Portfolio: Erich Gennette
	Author: Erich Gennette
	Date: November 26, 2018
	Filename: workstyles.css
*/


/* Carousel Styles */

.carousel-indicators {
	margin-bottom: 0px;
}

.carousel, .carousel-inner, .carousel-item {
	height: 100%;
}

.carousel-control-next, .carousel-control-prev {
	background-color: rgba(0, 0, 0, 0.1) !important;
}

.carousel-control-next, .carousel-control-prev {
	border-radius: 50px;
}

/* Content Styles */

.contentRow1, .contentRow2 {
	min-height: 46vh;
	padding-top: 25px;
	padding-bottom: 25px;
}

.imgDiv img {
	max-width: 95%;
}

/* Github Link Styles */

.githubLink a:hover {
	text-decoration: none;
}
